<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="#">Keycloak Angular Client</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div>

  <button type="button" class="btn btn-secondary btn-space" (click)='onLogin()'>Login</button>
  <button type="button" class="btn btn-secondary btn-space" (click)='onLogout()'>Logout</button>
  <br>

  <br>
</div>
<div *ngIf="this.currentUser == null"> Please click the login button</div>
<div *ngIf="this.currentUser != null"> You have successfully logged in!
  <pre >{{currentUserJson}}</pre>
</div>
  <div>
<!--   <h2>Messages</h2>
  <ul>
    <li *ngFor='let msg of messages'>{{msg}}</li>
  </ul>
</div> -->

<footer>
  <p  class="text-xs-center">© Michael Boeynaems</p>
</footer>